.container {
    /* font-size: 22px; */

}

.image-upload-container {
    display:flex;
   
    justify-content: center;
    
    height: calc(300rem / 16);
    
}

.text-center {
    margin-top: 4rem;
    margin-bottom: 4rem;
    
}

.text-center h2 {
    
}

