
.container {
    
}


.image-upload-container {
    display:flex;

    justify-content: center;
    align-items: center;
    border: .10rem dashed #882983; 
    min-height: calc(300rem / 16);
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem;
    /* flex-direction: column; */

    
}

.image-upload-container:has(.preview-container) {
    border: none;
    
}

.text-center {
    margin-top: 4rem;
    margin-bottom: 4rem;
    
}

.text-center h1 {
    margin-bottom: 1.5rem;
}