

.image-upload-container {
    display:flex;
    justify-content: center;
    align-items: center;
    border: .10rem dashed #882983; 
    /* min-height: 10rem; */
    
    max-width: 50rem;
    margin: 0 auto;
    
  

    
}

.image-upload-container:has(.preview-container) {
    border: none;
    align-items: flex-start;
    
}

.text-center {
    margin-top: 4rem;
    margin-bottom: 5rem;
    
}

.text-center h1 {
    margin-bottom: 1.5rem;
}